# Local Environments
NODE_ENV=development
PORT=5000
DATABASE=mongodb://localhost/cleaning-shop

# Name of Website or Company
APP_NAME=<put name here>
APP_URL=<put website url here>

# Google's Analytic tracking ID for the Global Site Tag (gtag.js) tracking code
GOOGLE_TRACKING_ID=<put google tracking id here>

# SendGrid Environments at https://www.sendgrid.com
SENDGRID_API_KEY=<put Secret API Key here>
SENDGRID_TO_EMAIL=<put receiving email here>