extends layout

block content
  link(rel='stylesheet', href='/stylesheets/menu.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  aside.profile-card
    header
      h1 #{appName}
      h2 Cleaning Service
    input#check(type='checkbox')
    label.main(for='check')
      .title
        i.fa.fa-bars
    .container
      a.plate(href='/main/#game-wrapper')
        i.fa.fa-home
      a.plate(href='/main/#main-wrapper')
        i.fa.fa-info
      a.plate(href='/main/#game-wrapper')
        i.fa.fa-home
      a.plate(href='#')
        i.fa.fa-twitter
      a.plate(href='#')
        i.fa.fa-google
      a.plate(href='#', target='_top')
        i.fa.fa-facebook
      a.plate(href='/main/#game-wrapper', target='_top')
        i.fa.fa-home
      a.plate(href='/main/#contact', target='_blank')
        i.fa.fa-comments-o
  script(type="text/javascript", src="/javascripts/menu.min.js")
      
