doctype html
html
  head
    title= appName
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  
  input#googleAnalytic(type='hidden', value='{{googleTrackingID}}')
  script(async='', src='https://www.googletagmanager.com/gtag/js?id={{googleTrackingID}}')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', document.getElementById('googleAnalytic').value);

  body
    block content
    
    #app 
    script(type="text/javascript", src="/javascripts/app.js")
