extends layout

block content
    link(rel='stylesheet', href='/stylesheets/index.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    
    #app 
    script(type="text/javascript", src="/javascripts/app.js")

    script(type="text/javascript", src="/javascripts/main.min.js")
