@keyframes init {
  0% {
    width: 0px;
    height: 0px; }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1; } }

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px; }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%; } }

@keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%; }
  100% {
    border-radius: 0px; } }

@keyframes moveDown {
  0% {
    top: 50%; }
  50% {
    top: 40%; }
  100% {
    top: 100%; } }

@keyframes moveUp {
  0% {
    background: #FFB300;
    top: 100%; }
  50% {
    top: 40%; }
  100% {
    top: 50%;
    background: #E0E0E0; } }

@keyframes materia {
  0% {
    background: #E0E0E0; }
  50% {
    border-radius: 4px; }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 4px; } }

@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0; }
  100% {
    opacity: 1;
    margin-top: -20px; } }

@keyframes scaleIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0); }
  50%,
  100% {
    transform: scale3d(1, 1, 1); }
  100% {
    opacity: 0; } }

/**
 * Browser support.
 *
 **/
@-moz-keyframes init {
  0% {
    width: 0px;
    height: 0px; }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1; } }

@-webkit-keyframes init {
  0% {
    width: 0px;
    height: 0px; }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1; } }

@-ms-keyframes init {
  0% {
    width: 0px;
    height: 0px; }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1; } }

@-o-keyframes init {
  0% {
    width: 0px;
    height: 0px; }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1; } }

@-moz-keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px; }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%; } }

@-webkit-keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px; }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%; } }

@-ms-keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px; }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%; } }

@-o-keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px; }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%; } }

@-moz-keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%; }
  100% {
    border-radius: 0px; } }

@-webkit-keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%; }
  100% {
    border-radius: 0px; } }

@-ms-keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%; }
  100% {
    border-radius: 0px; } }

@-o-keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%; }
  100% {
    border-radius: 0px; } }

@-moz-keyframes moveDown {
  0% {
    top: 50%; }
  50% {
    top: 40%; }
  100% {
    top: 100%; } }

@-webkit-keyframes moveDown {
  0% {
    top: 50%; }
  50% {
    top: 40%; }
  100% {
    top: 100%; } }

@-ms-keyframes moveDown {
  0% {
    top: 50%; }
  50% {
    top: 40%; }
  100% {
    top: 100%; } }

@-o-keyframes moveDown {
  0% {
    top: 50%; }
  50% {
    top: 40%; }
  100% {
    top: 100%; } }

@-moz-keyframes moveUp {
  0% {
    background: #FFB300;
    top: 100%; }
  50% {
    top: 40%; }
  100% {
    top: 50%;
    background: #E0E0E0; } }

@-webkit-keyframes moveUp {
  0% {
    background: #FFB300;
    top: 100%; }
  50% {
    top: 40%; }
  100% {
    top: 50%;
    background: #E0E0E0; } }

@-ms-keyframes moveUp {
  0% {
    background: #FFB300;
    top: 100%; }
  50% {
    top: 40%; }
  100% {
    top: 50%;
    background: #E0E0E0; } }

@-o-keyframes moveUp {
  0% {
    background: #FFB300;
    top: 100%; }
  50% {
    top: 40%; }
  100% {
    top: 50%;
    background: #E0E0E0; } }

@-moz-keyframes materia {
  0% {
    background: #E0E0E0; }
  50% {
    border-radius: 4px; }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 4px; } }

@-webkit-keyframes materia {
  0% {
    background: #E0E0E0; }
  50% {
    border-radius: 4px; }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 4px; } }

@-ms-keyframes materia {
  0% {
    background: #E0E0E0; }
  50% {
    border-radius: 4px; }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 4px; } }

@-o-keyframes materia {
  0% {
    background: #E0E0E0; }
  50% {
    border-radius: 4px; }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 4px; } }

@-moz-keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0; }
  100% {
    opacity: 1;
    margin-top: -20px; } }

@-webkit-keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0; }
  100% {
    opacity: 1;
    margin-top: -20px; } }

@-ms-keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0; }
  100% {
    opacity: 1;
    margin-top: -20px; } }

@-o-keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0; }
  100% {
    opacity: 1;
    margin-top: -20px; } }

@-moz-keyframes scaleIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@-webkit-keyframes scaleIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@-ms-keyframes scaleIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@-o-keyframes scaleIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@-moz-keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0); }
  50%,
  100% {
    transform: scale3d(1, 1, 1); }
  100% {
    opacity: 0; } }

@-webkit-keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0); }
  50%,
  100% {
    transform: scale3d(1, 1, 1); }
  100% {
    opacity: 0; } }

@-ms-keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0); }
  50%,
  100% {
    transform: scale3d(1, 1, 1); }
  100% {
    opacity: 0; } }

@-o-keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0); }
  50%,
  100% {
    transform: scale3d(1, 1, 1); }
  100% {
    opacity: 0; } }

html {
  height: 100%; }

body {
  overflow: hidden;
  background: #bcdee7 no-repeat center center fixed;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font: normal 14px/1.618em "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased; }

body:before {
  content: "";
  height: 0px;
  padding: 0px;
  border: 130em solid #313440;
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: 2;
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards; }

h1,
h2 {
  font-weight: 500;
  margin: 0px 0px 5px 0px; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 16px; }

p {
  margin: 0px; }

.profile-card {
  background: #FFB300;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards; }

.profile-card header {
  width: 179px;
  height: 280px;
  padding: 40px 20px 30px 20px;
  display: inline-block;
  float: left;
  background: #FFFFFF;
  color: #000000;
  margin-top: 50px;
  opacity: 0;
  text-align: left;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards; }

.profile-card header h1 {
  color: #FF5722; }

.profile-card header a {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 25px 30px; }

.profile-card header a:after {
  position: absolute;
  content: "";
  bottom: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  border: 4px solid #FFFFFF;
  -webkit-transform: scale(0);
  transform: scale(0);
  background: -webkit-linear-gradient(top, #2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
  background: linear-gradient(#2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
  animation: scaleIn 0.3s 3.5s ease forwards; }

.profile-card header a > img {
  width: 120px;
  max-width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06); }

.profile-card header a:hover > img {
  -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1); }

@media screen and (min-aspect-ratio: 4 / 3) {
  body {
    background-size: cover; }
  body:before {
    width: 0px; }
  @keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px; }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%; } }
  @-moz-keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px; }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%; } }
  @-webkit-keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px; }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%; } }
  @-ms-keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px; }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%; } }
  @-o-keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px; }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%; } } }

@media screen and (min-height: 480px) {
  .profile-card header {
    width: auto;
    height: auto;
    padding: 30px 20px;
    display: block;
    float: none;
    border-right: none; }
  .profile-social-links {
    width: 100%;
    display: block;
    float: none; }
  @keyframes materia {
    0% {
      background: #E0E0E0; }
    50% {
      border-radius: 4px; }
    100% {
      width: 280px;
      height: 440px;
      background: #FFFFFF;
      border-radius: 4px; } }
  @-moz-keyframes materia {
    0% {
      background: #E0E0E0; }
    50% {
      border-radius: 4px; }
    100% {
      width: 280px;
      height: 440px;
      background: #FFFFFF;
      border-radius: 4px; } }
  @-webkit-keyframes materia {
    0% {
      background: #E0E0E0; }
    50% {
      border-radius: 4px; }
    100% {
      width: 280px;
      height: 440px;
      background: #FFFFFF;
      border-radius: 4px; } }
  @-ms-keyframes materia {
    0% {
      background: #E0E0E0; }
    50% {
      border-radius: 4px; }
    100% {
      width: 280px;
      height: 440px;
      background: #FFFFFF;
      border-radius: 4px; } }
  @-o-keyframes materia {
    0% {
      background: #E0E0E0; }
    50% {
      border-radius: 4px; }
    100% {
      width: 280px;
      height: 440px;
      background: #FFFFFF;
      border-radius: 4px; } } }

html,
body {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  background-color: #ddd;
  overflow: hidden; }

#check {
  display: none; }

.main,
.container {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation: scaleIn 0.3s 0s ease forwards;
  animation: scaleIn 0.3s 0s ease forwards; }

.main {
  background-color: #B81365;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  z-index: 50; }
  .main:hover {
    background-color: #cf1572; }
  .main:active {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35), inset 1px 2px 2px rgba(0, 0, 0, 0.35);
    background-color: #a11158; }
  .main .title {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    font-size: 3em;
    line-height: 80px;
    text-align: center;
    color: #fafafa; }

.container {
  z-index: 10; }

.plate {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  opacity: 0;
  border-radius: 50%;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
  transition: all 0.4s ease-in; }
  .plate i {
    width: 100%;
    font-size: 2em;
    line-height: 53px;
    text-align: center;
    color: #333; }
  .plate:hover i {
    color: #111; }

.plate:nth-of-type(1) {
  background-color: rgba(169, 186, 200, 0.5);
  transition-delay: 0s; }

.plate:nth-of-type(2) {
  background-color: rgba(135, 225, 223, 0.7);
  transition-delay: 0.1s; }

.plate:nth-of-type(3) {
  background-color: rgba(80, 81, 110, 0.9);
  transition-delay: 0.2s; }

.plate:nth-of-type(4) {
  background-color: rgba(80, 84, 245, 0.3);
  transition-delay: 0.3s; }

.plate:nth-of-type(5) {
  background-color: #c3f550;
  transition-delay: 0.4s; }

.plate:nth-of-type(6) {
  background-color: rgba(189, 86, 182, 0.5);
  transition-delay: 0.5s; }

.plate:nth-of-type(7) {
  background-color: rgba(139, 218, 214, 0.1);
  transition-delay: 0.6s; }

.plate:nth-of-type(8) {
  background-color: rgba(227, 104, 80, 0.2);
  transition-delay: 0.7s; }

#check:checked ~ .main + .container .plate {
  opacity: 1; }

#check:checked ~ .main + .container .plate:nth-of-type(1) {
  top: -180%; }

#check:checked ~ .main + .container .plate:nth-of-type(2) {
  top: -130%;
  right: -130%; }

#check:checked ~ .main + .container .plate:nth-of-type(3) {
  right: -180%; }

#check:checked ~ .main + .container .plate:nth-of-type(4) {
  right: -130%;
  bottom: -130%;
  background: #55ACEE; }
  #check:checked ~ .main + .container .plate:nth-of-type(4) .fa-twitter {
    color: white; }

#check:checked ~ .main + .container .plate:nth-of-type(5) {
  bottom: -180%;
  background: #dd4b39; }
  #check:checked ~ .main + .container .plate:nth-of-type(5) .fa-google {
    color: white; }

#check:checked ~ .main + .container .plate:nth-of-type(6) {
  bottom: -130%;
  left: -130%;
  background: #3B5998; }
  #check:checked ~ .main + .container .plate:nth-of-type(6) .fa-facebook {
    color: white; }

#check:checked ~ .main + .container .plate:nth-of-type(7) {
  left: -180%; }

#check:checked ~ .main + .container .plate:nth-of-type(8) {
  top: -130%;
  left: -130%; }

/*# sourceMappingURL=menu.css.map */
